* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background: '#f0f2f5'
}



.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #cef;
  border-color: #cef transparent #cef transparent;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  100% {
    transform: rotate(1800deg);
  }
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track-piece {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb:vertical {
  height: 10px;
  background: #272c35;
}

::-webkit-scrollbar-thumb:vertical:hover {
  background: #0087ff;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 10px;
  background: #272c35;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background: #0087ff;
}

::-webkit-scrollbar-track {
  border-width: 1px 1px 1px 2px;
  border-color: #777;
  background-color: #aaa;
}


.html-center {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.html-left {
  width: 100%;
  margin-right: auto;
}

.html-right {
  width: 100%;
  margin-left: auto;
  text-align: right;
}